/*Fonts to use in your code. List below: 
font-family: 'Arvo', serif;
font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Vollkorn', serif;


font-family: 'Averia Libre', cursive;
font-family: 'Averia Serif Libre', cursive;
font-family: 'Libre Caslon Display', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Miriam Libre', sans-serif;
font-family: 'Rhodium Libre', serif;
*/

/*Tasks left. 
- Optimizing for the phone.
- Spelling Check
*/

/*Remarks for the phone opto thing: 
- Make the font smaller below: 1135px
- Major overhaul for phones and divces that are between 360px and 640px
- Anything below 360px needs an overhaul as well, in all dimensions */
html{ 
    padding: 0;
    margin: 0;
   /*This is just for keeping track, remove it at the end of the project. I am using this to know where this element is, and where other elements will stack inside of it. */
    display: flex; /*Helps in organizing the content into columned blocks. */
    flex-direction: column;
    position:relative; /*Everything inside this element will be related to this one, and will adapt to it, that is all. We can remove all that, once we start setting the rest of the elements into the same parmeters. This is just for fallback purposes that is all.*/

    /* Setting a wallpaper background for the entire site below */
    background-image: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    /*Makes sure the entire picture covers the entire screen of the pc*/
    background-size: cover;
    /*Makes sure that the background picture doesn't move while scrolling*/
    background-attachment: fixed;
    
}

body{
    /*Creating a border here just to see where this container lies on the page. This border will be removed upon the completion of the challenge. This border helps in organizing things*/
    
    /*Makes sure no padding gaps or margin gaps between the image, and the cover layer*/
    padding: 0;
    margin: 0;
    /*Breaks down the page form itself into column boxes that could be centered and styled as you want*/
    display: flex;
    flex-direction: column;
    /*Creates the transparent layer over the background.*/
    /*background-color: rgba(255, 255, 255, 0.6);*/
    width: 100%;
    
    
}

.container{ 
    /*Creating a border here just to see where this container lies on the page. This border will be removed upon the completion of the challenge. This border helps in organizing things*/
    /*This is will rearrange the content in a list / column like order rather than being next to eachother. */
    display: flex;
    flex-direction: column;
    
    /*Controls the distance between the content and the walls*/
    padding: 2%;
    /*Controls the distance between the top of the form, and the bottom of the form and the the actual page. So as the margin values increase the form will be pushed away from the edges*/
    margin-top: 1%;
    margin-bottom: 1%;
    /*Centers the contents of the form into the center of its parent container*/
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    /*Sets the width size of the container. Hence the contained items need to be inclosed by it.*/
    width:45% ;

    /*Setting a background color, with a little of opactiy of 80% to see through, then adding a blur effect in order to give the glassy effect of the form. Border-radius is used in order to curve the edges.*/
   background-color: rgba(240, 248, 255, 0.8);
   backdrop-filter: blur(1rem);
   border-radius: 1rem ;

}


/*Changes the fonts of the following elements p, label, input, textarea*/
p, label, input, textarea{ 
    font-family: 'Mulish', sans-serif;
}


#title{ 
    /*Changing the text font family of the title of the page*/
    font-family: 'Vollkorn', serif;
    /*Setting the position of the title as relative to its parent*/
    position: relative;
    opacity: 0.8;
    font-size: 1rem;
    padding-top:1% ;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
   
} 


#description{ 
    
    /*Making the font italic of the description*/
    font-style: italic;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 1.2rem;
    text-align: center;
    padding-top:1% ;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
}

.the-survey-form{ 
    /*Moving the content inside the form further from the body, and html elements.*/
    padding-top:5% ;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    

}
.form-edit-indi{ 
    /*Arranging the content of the container ontop of each other*/
    display: flex;
    flex-direction: column;
}

label{ 
   /*Pushing the labels away from the walls of the container*/
    padding-bottom: 2%;
    padding-top: 2%;
}

.form-org{ 
    /*Controls the input areas structure and shape, and how wide it is.*/
    padding:1%;
    border-radius: 1rem;
    max-width: 100vw;
}

input{ 
    /*Moves the input areas away from labels.*/
    padding-top:3% ;
    padding-bottom:3%;
}

textarea{ 
    /*Making the textarea bigger.*/
    height:15vh;
    font-family: 'Averia Serif Libre', cursive;
    
}

button{ 
    /*Changes the size of the botton.*/
    width: 50%;
    /*Aligning the button into the middle of the screen and form*/
    align-self: center;
    /*Making the button more curvy*/
    border-radius: 1rem;
    /*Pushing the labels in the button further into the button increasing it size*/
    padding: 2%;
    background-color: rgba(176, 250, 255, 0.2);
    backdrop-filter: blur(1rem);
    
    
 
}

.form-edit{ 
    /*Helps pushing the buttons away from the element above it.*/
    padding-top:2% ;
    font-family: 'Averia Serif Libre', cursive;
}



@media only screen and (max-width: 900px) { 
    .container{ 
        /*Moving the content inside the form further from the body, and html elements.*/
        width:100vw ;
        margin-top: 0;
        margin-bottom: 0;
        background-color: rgba(240, 248, 255, 0.8);
    
    }

    #description{ 
        /*Moving the content inside the form further from the body, and html elements.*/
        padding-top:1% ;
        text-align: center;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 1%;
        
    
    }

    .the-survey-form{ 
        /*Moving the content inside the form further from the body, and html elements.*/
        padding-top:5% ;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 1%;
        
    
    }
}

