/*Fonts to use in your code. List below: 
font-family: 'Arvo', serif;
font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Vollkorn', serif;


font-family: 'Averia Libre', cursive;
font-family: 'Averia Serif Libre', cursive;
font-family: 'Libre Caslon Display', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Miriam Libre', sans-serif;
font-family: 'Rhodium Libre', serif;
*/

body{ 
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column;
    background-image: url("https://images.unsplash.com/photo-1554306274-f23873d9a26c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"); 
    background-size:cover ;
    width: 100%;
    height: 100%;
    font-family: 'Libre Franklin', sans-serif;
}

#navbar{ 
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
   
}

#left-side-nav{ 
    margin-top: 1.8%;
    font-family: 'Libre Barcode 39 Text', cursive;
    padding: 1%;
    width: 50%;

    
}


#right-side-nav{
    display: flex;
    margin-right: 0.5%;
    font-family: 'Libre Franklin', sans-serif;
    width: 50%;
    
}

.nav-link{ 
    display: flex;
    padding: 3%;
    margin-left: 8%;
    
    
    
    
}
.nav-menu-options{ 
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    
}



.nav-link:hover{ 
    cursor: pointer;
    background-color: darkred;
}

#home{ 
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0,0.9);
}


#welcome-title{ 
    color: white;
    position: absolute;
    top: 35%;
    width: 99vw;
    height: 20%;
    font-size: 3rem;
    font-family: 'Vollkorn', serif;
}

#welcome-sub{ 
    color: white;
    position: absolute;
    top: 50%;
    width: 99vw;
    height: 20%;
    font-size: 2rem;
    font-family: 'Vollkorn', serif;

}


.nav-link{ 
    text-decoration: none;
    color: white;
}

.nav-link:visited{ 
    text-decoration: none;
    color: white;
}

#projects{ 
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(22, 0, 0);

    display: flex;
    flex-direction: column; 
}

#project-title{ 
    text-align: center;
    font-size: 2.5rem;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    
}

#card-container{ 
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(4,51%);
    justify-content: space-evenly;
    row-gap: 5%;
}

.cards{ 

    margin-top:2% ;
    width: inherit;
    height: inherit; 
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    backdrop-filter: blur(10px);

    
}

.card-links{ 
    text-decoration: none;
    color: black;
    width: inherit;
    height: inherit;
}

.cover-images{ 
    width: inherit;
    height: inherit;
}

.cards-para{ 
    text-align: center;
    margin: 0;
    padding:5%;
    
   
}




img{ 
    border-radius: 0.5rem;
    height: 80%;
}





/*Hover and animation area*/
.cards:hover{ 
    background-color: black;
    color: white;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}


.card-links:hover{ 
    color:white;
}





#contact{ 
    width: 100%;
    height: 110%;
    position: absolute;
    color: white;
    top: 202.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background:rgb(17, 17, 17) ;
}

#contact-tittle{ 
    font-size: 3rem;
    
}
#socialmedia{ 
    display: flex;
    margin-top: 5%;
    
}



.fa{ 
    padding: 20px;
    font-size: 30px;
    width: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
    

}


.fa:hover{ 
    background-color: white;
    color:black;
}

.social-links{ 
    margin-right:10% ;
    margin-left:-5% ;
    
}

footer{ 
    width: 100%;
    height:20%;
    position: absolute;
    top: 310%; 
    color: black;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 2rem; 
    background-color: white;


}

#footer-content{ 
    text-align: right;
    margin:2% ;
    margin-top: 3.5%;
}
