/*Fonts to use in your code. List below: 
font-family: 'Arvo', serif;
font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Vollkorn', serif;


font-family: 'Averia Libre', cursive;
font-family: 'Averia Serif Libre', cursive;
font-family: 'Libre Caslon Display', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Miriam Libre', sans-serif;
font-family: 'Rhodium Libre', serif;
*/

/*Style of the body of the page.*/
body{ 
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 100%;
    font-family: 'Libre Franklin', sans-serif;
}

/*Styling the nav-bar*/
#navbar{ 
    background-color: rgb(0, 0, 0); /*setting background color to black*/
    color: white; /*setting the font color to white*/
    display: flex; /*breaking down the nav bar into two sections.*/
    position: fixed; /*fixing the position of the nav-bar*/
    width: 100%; /*Setting the width of the nav to 100% of the actual screen size*/
    z-index: 100; /*Making the nav-bar ontop of the all the objects in the page*/
    justify-content: center; /*Centers all the contents into the middle of it*/
    align-items: center;/*Centers all the contents into the middle of it*/
    height: 15%;
    
   
}

/*Controls the content of the left side of the nav bar */
#left-side-nav{ 
    margin-top: 1.8%; /*Stays away from the top, by 1.8% of the size of its container*/
    font-family: 'Libre Barcode 39 Text', cursive; /*Changing font family*/
    padding: 1%; /*Padding the content away from its containers walls.*/
    width: 50%; /*Width is the 50% of the container which is 50% of the length of nav-bar*/
   
    
}

/*Controls the right side of the nav-bar*/
#right-side-nav{
    display: flex; /*Changes the arrangement of the list and makes them all horizontal*/
    font-family: 'Libre Franklin', sans-serif;
    width: 50%; /*Width is the 50% of the container which is 50% of the length of nav-bar*/
    justify-content:space-evenly; /*controls the x-axis of the content*/
    align-items: center; /*controls the y-axis of the content*/

}

/*Controls the link access area, and not the content of it.*/
.nav-link{
    padding: 1.5%;/*Controls size of the link shadow*/
    text-decoration: none;
    color: white;
   
}
.nav-link:visited{ 
    text-decoration: none;
    color: white;
}
/*Controls the choices themselves and their styles*/
.nav-menu-options{ 
    list-style-type: none; /*Removes the dots of the list items*/
    text-decoration: none; /*Removes the decorations and coloring of links*/
}

/*Controls the hover action of the links*/
.nav-link:hover{ 
    background-color: darkred; /*Once you hover over objects, the color will change red*/
}

/*Controls the home section of the page*/
#home{ 
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0,0.9);
    top:15%;
    position: absolute;
}

#welcome-title{ 
    color: white;
    position: absolute;
    top: 35%;
    width: 100%;
    font-size: 3rem;
    font-family: 'Vollkorn', serif;
}

#welcome-sub{ 
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 2rem;
    font-family: 'Vollkorn', serif;
}

#projects{ 
    top: 115%;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(22, 0, 0);
    display: flex;
    flex-direction: column; 
    
}

#project-title{ 
    text-align: center;
    font-size: 2.5rem;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    align-content: center;
    justify-items: center;
    margin-top: 10%;
    
}

#card-container{ 
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(4,51%);
    justify-content: space-evenly;
    align-items: center; 
    row-gap: 5%;
}

.cards{ 

    margin-top:2% ;
    width: inherit;
    height: inherit; 
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    backdrop-filter: blur(10px);

    
}

.card-links{ 
    text-decoration: none;
    color: black;
    width: inherit;
    height: inherit;
}


.cards-para{ 
    text-align: center;
    margin: 0;
    padding:1.5%;
    
   
}




img{ 
    border-radius: 0.5rem;
    height: 75%;
}





/*Hover and animation area*/
.cards:hover{ 
    background-color: black;
    color: white;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}

#contact{ 
    width: 100%;
    height: 110%;
    position: absolute;
    color: white;
    top: 215%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgb(17, 17, 17) ;
}

#contact-title{ 
    font-size: 3rem;
    
}
#socialmedia{ 
    display: flex;
    margin-top: 5%;
    
}



.fa{ 
    padding: 20px;
    font-size: 30px;
    width: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
    

}


.fa:hover{ 
    background-color: white;
    color:black;
}

.social-links{ 
    margin-right:10% ;
    margin-left:-5% ;
    
}

footer{ 
    width: 100%;
    height:20%;
    position: absolute;
    top: 310%; 
    color: black;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 2rem; 
    background-color: white;


}

#footer-content{ 
    text-align: right;
    margin:2% ;
    margin-top: 3.5%;
}


@media only screen and (max-width: 950px) {
    .cards-para{ 
    text-align: center;
    margin: 0;
    padding:1.5%;
    font-size: 2rem;
    }

    #card-container{ 
        width: auto;
        height: auto;
        grid-template-columns: repeat(2, 30%);
        grid-template-rows: repeat(2,51%);
        
    }
    
}


@media only screen and (max-width: 419px) {
    body{ 
        background-color: black;
    }

    #left-side-nav{ 
        font-size: 1rem;
    }

    #right-side-nav{
        font-size: 0.7rem;
    }

    #welcome-title{ 
        font-size: 2rem;
    }

    #welcome-sub{ 
        font-size: 1rem;
    }

    #project-title{ 
        font-size: 2rem;
        margin-top: 30%;
        
    }



    #card-container{ 
        width: auto;
        height: auto;
        grid-template-columns: repeat(2, 30%);
        grid-template-rows: repeat(2,51%);
        
    }
    
    .cards-para{
        padding:1.5%;

    }
    
    #contact-title{ 
        font-size: 1.5rem;
    }

    
    footer{ 
        width: 100%;
        height:10%;
        position: absolute;
        top: 320%; 
        color: black;
        font-family: 'Vollkorn', serif;
        font-size: 0.7rem; 
        background-color: white;
    
    
    }
    

}