/*Fonts to use in your code. List below: 
font-family: 'Arvo', serif;
font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Vollkorn', serif;


font-family: 'Averia Libre', cursive;
font-family: 'Averia Serif Libre', cursive;
font-family: 'Libre Caslon Display', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Miriam Libre', sans-serif;
font-family: 'Rhodium Libre', serif;
*/